.custom-button{
 -fx-background-color: #008b5e;
 -fx-font-size: 18px;
 -fx-text-fill: white;
 -fx-font-family: "Segoe UI";
 -fx-fill-height: 50px;
 -fx-background-radius: 25px;
}

.custom-button:hover{
 -fx-background-color: #007b4e;
}

.label{
 -fx-font-family: "Segoe UI";
 -fx-font-size: 16;
}

.place-pane{

}

.button{
 -fx-background-color: #008b5e;
 -fx-background-radius: 9px;
 -fx-text-fill: white;
 -fx-font-size: 16;
 -fx-font-weight: bold;
}
.button:hover{
 -fx-background-color: #007b4e;
}

.place-pane{
 -fx-border-color: #008b5e;
 -fx-border-width: 2px;
 -fx-border-radius: 9px;
}

.subject-label{
 -fx-border-color: #008b5e;
 -fx-border-width: 2px;
 -fx-border-radius: 9px;
 -fx-font-size: 16;
 -fx-font-weight: bold;
}

.content-pane{
 -fx-background-color: #efefef;
 -fx-background-radius: 9px;
}
.toggle-button{
 -fx-background-color: transparent;
 -fx-background-radius: 9px;
 -fx-border-color: #008b5e;
 -fx-border-width: 2px;
 -fx-border-radius: 9px;
 -fx-pref-height: 40px;
 -fx-font-size: 24;
 -fx-font-weight: bold;
 -fx-text-fill: #008b5e;
 -fx-padding: 0 10px;
}

.toggle-button:hover{
 -fx-opacity: 0.9;
}

.toggle-button:selected{
 -fx-background-color: #008b5e;
 -fx-text-fill: white;
}

.title-label{
 -fx-font-size: 24;
 -fx-font-weight: bold;
 -fx-text-fill: #7c7c7c;
 -fx-padding: 0 20px;
}

.scroll-pane {
 -fx-background-color: transparent;
}

.scroll-pane .viewport{
 -fx-background-color: transparent;
}

.scroll-pane .scroll-bar{
 -fx-background-color: #efefef;
 -fx-background-radius: 9px;
 -fx-fill-width: 18px;
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow
{
 -fx-shape: " ";
}

.scroll-pane .thumb{
 -fx-background-color: #D9D9D9;
 -fx-background-radius: 9px;
}

.text-field{
 -fx-background-color: #efefef;
 -fx-background-radius: 9px;
 -fx-font-size: 16;
 -fx-font-weight: bold;
}

.choice-box{
 -fx-background-color: transparent;
 -fx-border-color: #008b5e;
 -fx-border-radius: 9px;
 -fx-border-width: 2px;
}

.split-pane{
 -fx-background-color: transparent;
}

.split-pane .split-pane-divider{
 -fx-background-color: transparent;
}

.delete-button{
 -fx-background-color: #505050;
}

.delete-button:hover{
 -fx-background-color: #404040;
}

.date-picker{
 -fx-background-color: transparent;
}

.specialization-picker{
 -fx-background-color: #efefef;
 -fx-background-radius: 9px;
}
.specialization-picker .label{
 -fx-font-size: 13;
 -fx-font-weight: bold;
 -fx-text-fill: #7c7c7c;
}

.radio-button{
 -fx-padding: 15 15 3 -15;
 -fx-font-size: 18;
 -fx-font-weight: bold;
 -fx-text-fill: #008b5e;
}

.radio-button:selected{
 -fx-padding: 15 15 3 -15;
 -fx-border-width: 0 0 3 0;
 -fx-border-color: #008b5e;
}

.radio-button .radio{
 -fx-background-color: null;
}

.radio-button .dot{
 -fx-background-color: null;
}

.main-menu{
 -fx-padding: 0 0 5 0;
 -fx-border-width: 0 0 1 0;
 -fx-border-color: #bebebe;
}

.outer-menu{
 -fx-border-width: 1 0 0 0;
 -fx-border-color: #bebebe;
}

.check-box{
 -fx-font-size: 20;
 -fx-font-weight: bold;
 -fx-text-fill: #7c7c7c;
}

.check-box .box{
 -fx-border-color: #008b5e;
 -fx-border-radius: 9px;
 -fx-background-color: transparent;
}

.check-box:selected .box{
 -fx-background-color: #008b5e;
 -fx-background-radius: 9px;
}

.check-box:selected .mark{
 -fx-background-image: null;
 -fx-background-color: #008b5e;
 -fx-shape: "M0,0";
}

.date-picker .arrow-button{
 -fx-background-radius: 0 9 9 0;
 -fx-background-color: #bebebe;
 -fx-padding: 0 16 0 15;
}

.date-picker .arrow{
 -fx-background-color: white;
 -fx-scale-x: 1.5;
 -fx-scale-y: 1.5;
}

.date-picker .text-field{
 -fx-background-radius: 9 0 0 9;
 -fx-background-color: #efefef;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow{
 -fx-background-color: black;
}

.date-picker-popup .spinner .button{
 -fx-background-color: transparent;
}

.edit-cell{
 -fx-background-image: url("icons/Row_Edit.png");
 -fx-background-repeat: no-repeat;
 -fx-background-position: center;
 -fx-background-size: 40px;
}

.delete-cell{
 -fx-background-image: url("icons/Row_Delete.png");
 -fx-background-repeat: no-repeat;
 -fx-background-position: center;
 -fx-background-size: 40px;
}

/*.applicant-row{
 -fx-background-color: #fafafa;
 -fx-border-width: 0 0 1 0;
 -fx-border-color: #606060;
}*/


.grid-cell{
 -fx-border-width: 0 0 0 1;
 -fx-border-color: #606060;
}

.table-name{
 -fx-text-fill: #303030;
 -fx-font-size: 18;
 -fx-font-weight: bold;
}

.root {
 -fx-background-color: white;
}

